# Ambiente virtual
.venv/
env/
venv/
__pycache__/
*.pyc

# Arquivos de configuração locais
instance/
*.sqlite3
document_ai_robot.local.env

# Editor / OS
.vscode/
.DS_Store
Thumbs.db
node_modules
node_modules
