  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/booking_portal/inter/inter.css') }}?v={{ config.get('STATIC_VERSION', 1) }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/booking_mobile_navigation.css') }}?v={{ config.get('STATIC_VERSION', 1) }}">
  <script src="{{ url_for('static', filename='js/booking_mobile_navigation.js') }}?v={{ config.get('STATIC_VERSION', 1) }}" defer></script>
